@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  font-family: 'Poppins', sans-serif;
  background-size: 200% 200%;
  animation: gradientShift 2s ease infinite;
}
